@model Swimmer
@{
    ViewData["Title"] = Model.ID;
}

<link rel="stylesheet" href="~/css/bio.css" asp-append-version="true" />


<h1 class="title">@Model.Name</h1>

<div style="background-color:black; color:white">


        <div id="texte">

        <b>Facts</b> <br />
        @Model.Facts
            <br /> <br />
        <b>Achievements</b> <br />
        @Model.Achievements
            <br /> <br />
        <b>Specialization</b> <br />
        @Model.Special
            <br /> <br />
        <b>Biology</b> <br />
        @Model.Biology
            <br /> <br />

        </div>

    
</div>