@model English_ZP3_Project.Models.Swimmer
@{
    ViewData["Title"] = Model.ID;
}

<link rel="stylesheet" href="~/css/bio.css" asp-append-version="true" />
<br/>
<br/>
<br/>

<div style="background-color: #452FBA; color:white; border-radius:18px;
            display:flex; flex-direction: column; align-items: flex-start;
            max-width:850px; margin:0 auto; padding:20px;">

    <div id="texte">
        @for (int i = 0; i < Model.Information.Length; ++i)
        {
            string subtitleText = (i < Model.Subtitles.Length) ? Model.Subtitles[i] : "";

            if (i == 0)
            {
                <div style="display:flex; flex-wrap: wrap; align-items:flex-start; gap:16px; margin-bottom:16px;">
                    <div style="flex: 0 0 40%; min-width:150px; max-width:300px; aspect-ratio:1/1;
                                background-image:url('@Model.Image');
                                background-size: cover;
                                background-position:center;
                                background-repeat:no-repeat;
                                border-radius:18px;">
                    </div>


                    <div style="flex: 1 1 55%;">
                        <h1 style="margin:0 0 6px 0; color:white;">@Model.Name</h1>

                        <br/>
                        @if (!string.IsNullOrWhiteSpace(subtitleText))
                        {
                            <h4 style="margin:0 0 6px 0; color:white;">@subtitleText</h4>
                        }

                        <p style="margin:0;">
                            @Html.Raw(System.Net.WebUtility.HtmlEncode(Model.Information[i]).Replace("\n", "<br/>"))
                        </p>
                    </div>
                </div>
            }
            else
            {
                @if (!string.IsNullOrWhiteSpace(subtitleText))
                {
                    <h4 style="margin:0 0 6px 0; color:white;">@subtitleText</h4>
                }
                <p style="margin:0 0 16px 0;">
                    @Html.Raw(System.Net.WebUtility.HtmlEncode(Model.Information[i]).Replace("\n", "<br/>"))
                </p>
            }
        }

    </div>
</div>
